
.bg-color{
        --background: rgb(195, 216, 202);
    }


ion-title{
	text-align: center;
}
.icone{
	width: 20px;
	height: 20px;
}

.slideFoods{
	width: auto;
	height: 40%;
	img{
		width: auto;
		height: 100%;
	}
}
.listPrecos{
	text-align: right;
}